	/*	#r-wrap{
			overflow: auto;
			border: 1px solid #000;
			position: relative;
		}*/

		#wrap{
			border: 1px solid #08c;
			width: 500px;
			height: 500px;
			margin: 0 auto;
			position: relative;
		}

		.hid{
			position: absolute;
			left: 10%;
			top: 10%;
			visibility: hidden;
		}
		.show{
			visibility: visible;			
		}

		.clearfix:before,
		.clearfix:after {
			content: " "; /* 1 */
			display: table; /* 2 */
		}
		
		.clearfix:after {
			clear: both;
		}

		#wrap_bullet{
			text-align: center;
			bottom: 20px;
			position: relative;
		}
		.bullet{
			background: #666;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			margin-left: 10px;
		}
		#wrap_bullet a{
			text-decoration: none;
		}
		.active{
			background: #08c;
		}